<div class="container my-5">
  <div class="row">
    <div class="col-md-12" id="htmlData">

      <table class="table">
        <thead>
          <tr class="table-primary">
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of USERS">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>